<header class="site-header">
	<nav class="site-navi">
		<div class="row col-12">
			<div class="col-5 title-col">
				<h1 class="site-title" id="site-title">
					<a href='{{ "/" | relURL }}' style="float: left;">
						{{ .Site.Params.title }}
					</a>
					<span class="version-span">
						<!-- {{ partial "github-tag.svg" }} -->
					</span>
				</h1>
			</div>
			<div class="col-7 site-tag">
				{{- range .Site.Params.taglines }}
				<div class="col-12">{{ . }}</div>
				{{- end }}
				<div class="col-12">
					{{ partial "latest-commit.html" . }}
				</div>
			</div>
		</div>
	</nav>
</header>
<hr class="site-header-bottom">
